<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="This website allows users to input their memories of a certain travel expierence.">
        <meta name="keywords"
        content="HTML, Travel, Vacation, Travel Journal">
    <title>Excursion Memoir</title>
    <link  href="../public/CSS/displayPageStyleSheet.css" rel="stylesheet" type="text/CSS">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class = "navBar">
        <ul>
            <li><a href="/login">Log In</a> </li>
            <li><a href="/displayPage">Display Page</a> </li>
            <li><a href="/">Home</a> </li>
        </ul> 
        <h1 class="mainTitle">Excrursion Memoir</h1>
        </nav>
    </header>

    <div class="container">
    <table cellspacing = "0" valign = "middle" class="displayTable">
        <tr>    
            <td>
                <div class="tdDiv">
                <h1>My First Travel Entry</h1>
                <h3>Date: 2/14/2018</h3>
                <p>I went to Zermatt and saw so many amazing things, I want to go back so bad. Thank god I have Excursion Memoir to remember this amazing trip.</p>
                <a class="Edit" href="HTML/newEntry.html"><button>Edit</button></a>
                <a class="Delete" href="HTML/newEntry.html"><button>Delete</button></a>
                </div>
            </td>
            <td><img src = "../public/img/Zermatt.jpg" alt = "Zermatt Picture" title="Picture of Zermatt" class="zermattPic" /></td>
        </tr>
        <tr>
            <td>
                <h1>My First Travel Entry</h1>
                <h3>Date: 2/14/2019</h3>
                <p>I went to Vienna and saw so many amazing things, I want to go back so bad. Thank god I have Excursion Memoir to remember this amazing trip.</p>
                <a class="Edit" href="/newEntry"><button>Edit</button></a>
                <a class="Delete" href="/newEntry"><button>Delete</button></a>
                
            </td>    
            <td><img src = "../public/img/austriaVienna.jpg" alt = "Vienna Picture" title="Picture of Vienna" class="viennaPic" /></td>
        </tr>
    
    </table>
    </div>


    <footer>
        <h4>Excursion Memoir</h4>
        <p class="copyright">&copy; 2021, Zachary Bickmann <br></p> 
        <p class="emailAd">My email is: <a href="mailto: zbickmann@oakland.edu">zbickmann@oakland.edu</a> </p>
    </footer>

</body>
</html>