<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="This website allows users to input their memories of a certain travel expierence.">
        <meta name="keywords"
        content="HTML, Travel, Vacation, Travel Journal">
    <title>Excursion Memoir</title>
    <link  href="../public/CSS/displayPageStyleSheet.css" rel="stylesheet" type="text/CSS">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class = "navBar">
        <ul>
            <li><a href="/login">Log In</a> </li>
            <li><a href="/displayPage">Display Page</a> </li>
            <li><a href="/">Home</a> </li>
        </ul> 
        <h1 class="mainTitle">Excrursion Memoir</h1>
        </nav>
    </header>

    <div class="popContainer">
        <h1 id="testing">MAKE A NEW ENTRY</h1>
        <a href="#" class="button" id="button">New Enrty</a>
    </div>

    <div class="popup">
        <div class="popup-content">
            <form>
                <img src="../public/img/Close.png" alt="close" class="close">
                <input type="text" id="Title" placeholder="Title" required>
                <input type="text" id="Date" placeholder="Date" required>
                <textarea type="textArea" id="Thoughts" placeholder="Some Thoughts" required></textarea>
                <button type="submit" name="" id="popupSubmit" value="Submit">Submit</button>
            </form>
        </div>
    </div>
    








    
    <div class="containter">
        <table class="displayTable" id="mainTable">
            <tr>
                <th>Title</th>
                <th>Date</th> 
                <td id="userInput">Thoughts on trip: <br> These are my thoughts on this trip, and honestly I don't know how this is going to look.</td>
                <td><img id="happy" src = "../public/img/HappyFace.png"/> </td>
            </tr>
        </table>


    </div>

















    <footer>
        <h4>Excursion Memoir</h4>
        <p class="copyright">&copy; 2021, Zachary Bickmann <br></p> 
        <p class="emailAd">My email is: <a href="mailto: zbickmann@oakland.edu">zbickmann@oakland.edu</a> </p>
    </footer>
    <script src="../public/js/displayPage.js"></script>
</body>
</html>