<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="This website allows users to input their memories of a certain travel expierence.">
        <meta name="keywords"
        content="HTML, Travel, Vacation, Travel Journal">
    <title>Excursion Memoir</title>
    <link  href="../public/CSS/indexStyleSheet.css" rel="stylesheet" type="text/CSS">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class = "navBar">
        <ul>
           <li><a href="/login">Log In</a> </li>
           <li><a href="/displayPage">Display Page</a> </li>
           <li><a href="/">Home</a> </li>
             
        </ul> 
        <h1 class="mainTitle">Excrursion Memoir</h1>
        </nav>
       
    </header>
    <div class="introDiv">
        <h2>Welcome to Excursion Memoir</h2>
        <p>Excursion Memoir takes all of your past travel memories and puts them in one place for easy access. Excursion Memoir will allow you to keep a journal of all of your different travels
            around the world. No more pen and paper, just use Excursion Memoir and all of your amazing and fun memories will be in one place for easy access.
        </p>
    </div>
    <div class="readyDiv">
        <h2>Ready to create an entry?</h2>
        <p>Lets get started, you should have already created a new account, now just click on New Entry right below. Once you have created a new entry, it will display it on the Display Page for you to see.
        </p>
        <a class="newEntry" href="/newEntry"><button>New Entry</button></a>
    </div>
    
    <img src = "../public/img/notepad-gd99a9be95_1920.jpg" alt = "Travel Journal" title="Picture of Journal" class="journalPic" width="30%"/>

    <footer>
        <h4>Excursion Memoir</h4>
        <p class="copyright">&copy; 2021, Zachary Bickmann <br></p> 
        <p class="emailAd">My email is: <a href="mailto: zbickmann@oakland.edu">zbickmann@oakland.edu</a> </p>
    </footer>
    
</body>
</html>
